.idea
node_modules
examples
coverage
build/test
app
typings
/compiled
*.map.js
*.ngFactory.ts
*.ngsummary.json
*.metadata.json
.vscode
npm-debug.log
Thumbs.db
.DS_Store
*.js
*.map
*.d.ts
!test/spec.d.ts
